<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>云API</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../css/home.css"/>
</head>
<body>
    <div id="Home">
        <header class="header">
            <span class="back" @click="goBack()"><img src="../image/back.png"></span>
            <span>找车</span>
        </header>
        <div class="content">
            <div class="list-left">
                <ul>
                    <li v-for="(items, index) in brand" @click="getCarList(items.car,index)" :class={active:index==carIndex}>
                        <span><img :src="items.logo" alt=""></span>
                        {{items.name}}
                    </li>
                </ul>
            </div>
            <div class="list-right">
                <div class="carlist">
                    <dl v-for="res in carList" @click="goProductDetail()">
                        <dt><img :src="res.imgSrc" alt=""></dt>
                        <dd>{{res.name}}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <footer class="footer">
            <dl @click="goIndex()">
                <dt> <img src="../image/sy_na_icon.png" alt=""></dt>
                <dd>首页</dd>
            </dl>
            <dl @click="goFind()">
                <dt> <img src="../image/zc_na_icon.png" alt=""></dt>
                <dd>找车</dd>
            </dl>
            <dl @click="goStart()">
                <dt> <img src="../image/fc_icon.png" alt="" class="find"></dt>
                <dd>发车</dd>
            </dl>
            <dl @click="goSkip()">
                <dt> <img src="../image/zc_na_icon.png" alt=""></dt>
                <dd>车辆管理</dd>
            </dl>
            <dl @click="goMy()">
                <dt> <img src="../image/wd_na_icon.png" alt=""></dt>
                <dd>我的</dd>
            </dl>
        </footer>
    </div>
    <script type="text/javascript" src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <script type="text/javascript">
        apiready = function () {
            new Vue({
                el: '#Home',
                data: {
                    brand: [],
                    carList: [],
                    Id: 0,
                    carIndex: 0
                },
                beforeMount: function () {
                    this.$http.post('http://172.10.1.63:8000/brand', {
                    // this.$http.post('http://192.168.0.109:8000/brand', {
                        id: this.Id
                    }).then(function (res) {
                        this.brand = res.data.brand
                        this.carList = this.brand[0].car
                    })
                },
                methods: {
                    getCarList: function (cars, _index) {
                        this.carList = cars
                        this.carIndex = _index
                    },
                    goProductDetail: function () {
                        api.openWin({
                            name: 'product-detail',
                            url: './product-detail.html',
                            pageParam: {
                                name: 'test'
                            }
                        });
                    },
                    goBack: function () {
                        api.closeWin({
                            name: 'home'
                        });
                    },
                    goIndex: function () {
                        api.closeWin({
                            name: 'home'
                        });
                    },
                    goFind: function () {
                        api.openWin({
                            name: 'home',
                            url: './home.html'
                        });
                    },
                    goStart: function () {

                    },
                    goSkip: function () {
                        api.openWin({
                            name: 'product-detail',
                            url: './product-detail.html'
                        });
                    },
                    goMy: function () {

                    }
                }
            })

        }
    </script>
</body>
</html>